<h1>About us!</h1>
<div class="panel panel-default" style="width:880px">

    <table class="table table-bordered" >
      <thead>
        <tr>
          <th>Director</th>
          <th>Deputy Director</th>
          <th>Administrator</th>
          <th>Intern</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img class="about" src="https://upload.wikimedia.org/wikipedia/en/a/ae/RonSwanson.jpg" /></td>
          <td><img class="about" src="https://upload.wikimedia.org/wikipedia/en/3/34/Leslie_Knope_%28played_by_Amy_Poehler%29.png" /></td>
          <td><img class="about" src="https://upload.wikimedia.org/wikipedia/en/1/1f/Tom_Haverford.jpg" /></td>
          <td><img class="about" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Aubrey_Plaza_2012_Shankbone.JPG/512px-Aubrey_Plaza_2012_Shankbone.JPG" /></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td><strong>Ronald Ulysses Swanson</strong> speaks in a deadpan tone of voice and seldom expresses any kind of emotion, although he is often shown to be very giddy when it comes to riddles and meat.</td>
          <td><strong>Leslie Barbara Knope</strong> is extremely cheerful, ambitious, hard-working and optimistic. Although somewhat naive, Leslie is intelligent, well-read, and has good intentions. Her favorite food is waffles from a local diner, JJ's.</td>
          <td><strong>Thomas Montgomery Haverford</strong> is revered for his high levels of confidence and unmatched entrepreneurial skills. Tom has demonstrated his talent and passion for entrepreneurship in many occasions, including Entertainment 720, Rent-A-Swag, and Tom's Bistro.</td>
          <td><strong>April Roberta Ludgate-Dwyer</strong> is extremely uninterested in her job, regularly napping at her desk and texting constantly, and acts very dry and sarcastic around her co-workers. She was assigned the internship because she overslept on intern sign-up date, which she blamed on her sister Natalie for not waking her up.</td>
        </tr>
      </tbody>
    </table>

  </div>