// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.about {
  width: 200px;
  height: 260px;
}
// Bootstrap adjustments
form.button_to {
  display: inline;
}
